
.descriptionbox
{
    margin: 50px 140px;
}

.discriptionbox-navigator
{
    display: flex;
}

.discriptionbox-nav-box
{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
    width: 170px;
    height: 70px;
    border: 1px solid #b8b7b7;
}

.discriptionbox-nav-box.fade
{
    background-color: #fbfbfb;
    color: #555;
}

.discriptionbox-discription
{
    display: flex;
    flex-direction: column;
    gap: 25px;
    border: 1px solid #929292;
    padding: 38px;
    padding-bottom: 10px;

}